# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pyodide
.pyodide-xbuildenv/

# JavaScript
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

# Operating System Files
.DS_Store
Thumbs.db

# Environment variables
.env

# Virtual Environment
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Backup files
*.bak

# Temporary files
*.tmp
*.temp

# Personal documents
/docs

# Old code
/scrapped
